<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
</head>
<body style="background-color:white">

 <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 351422272858795;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
	
	<h1>Cart for Donation</h1>
	<p><a href="../donate_shop">Go back Shop</a> | <a href="../donate_emptycart">Empty cart</a></p>

	<table cellspacing="1" cellpadding="5" border="1">
	<tr>
		
		<th>Name</th>
		<th>Qty</th>   
		<th>Price</th>
		<th>Total</th>
	</tr>

	<% cart.forEach(function(item){ %>
	<tr>
		
		<td><%= item.name %></td>
		<td><%= item.qty %></td>
		<td><%= item.price %></td>
		<td><%= item.total %></td>
		
	</tr>
	<% }); %>
	</table>
	<p><strong>Service:</strong> <%= service %></p>	
	<p><strong>Total:</strong> <%= cart_total %></p>

	<p><a href="../donate_order">Confirm</a></p>
	

</body>
</html>


