<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    
    <nav>
      <ul>
        <li><a href="/admin/home">Home</a></li>  
      
        <li><a href="/admin/members">See Members</a></li>   
      
        <li><a href="/admin/foods">See Foods</a></li>   
      
        <li><a href="/admin/orders">See Orders</a></li>  

       <li><a href="/admin/logout">logout</a></li>
      </ul>
    </nav>
 </head>
 </head>

  <body style="background-color:white">
  <h1>All Loyal Members </h1>

  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Facebook ID</th>
    <th>Member Name</th>
    <th>Phone</th>       
    <th>Address</th>
    <th>Points</th> 
    <th>Status</th>
    <th>Action</th>
  </tr>

  <% data.forEach(function(member){ %>
     <tr>
      
       <td><%= member.facebookid %></td>
       <td><%= member.name %></td>
       <td><%= member.phone %></td>
       <td><%= member.address %></td>
       <td><%= member.points %></td>
       <td><%= member.status %></td>
       <td><a href="#">Edit</a> |<a href="#"> Delete</td> 
      </tr>
  <% }); %>
  

	</table> 
 

  </body>

</html>