<!DOCTYPE html>
<html>
<head>
	<title>Order</title>
	<meta charset="UTF-8">
    <title>Order Foods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style.css" rel="stylesheet">

</head>
<body>
	<script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 351422272858795;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
<div class="container bg-light">
    <div class="row">   
      <div class="col-lg-2">

        <h1 class="my-4"><b>Order</b></h1>
        <div class="list-group">
          <a href="../cart" class="list-group-item bg-dark text-white"><b>Back To Cart</b></a>
          
        </div>
      </div> 
	<div class="col-lg-10">
		<div class="card mt-4">
			<div class="card-body">

				<h3>Items</h3>
					<table class="table table-dark table-striped" cellspacing="1" cellpadding="5" border="1">
					<% cart.forEach(function(item){ %>
					<tr>
						<td>
							<%= item.name %> * <%= item.qty %>
						</td>
					</tr>
					<% }); %>
				</table>	
		
				<p><strong>Sub Total:</strong> <%= sub_total %> kyats<p>
				<p><strong>Discount:</strong> - <%= discount %> kyats<p>
				<p><strong>Total:</strong> <%= cart_total %> kyats<p><hr>
			</div>

			<div class="card-body">			
				<form id="form" action="../order" method="post">	
				    <input class="form-control" type="text" name="name" value="<%= user.name %>" required/>	<br/>
					<input class="form-control" type="text" name="phone" value="<%= user.phone %>" required/>	<br/>
					<textarea class="form-control" name="address" rows="3" cols="23" required><%= user.address %></textarea><br/>

					<input  type="hidden" name="items" value="<%= items %>">
					<input type="hidden" name="sub_total" value="<%= sub_total %>" />
					<input type="hidden" name="discount" value="<%= discount %>" />
					<input type="hidden" name="total" value="<%= cart_total %>" />

					<p>
					<label for="start">Please place your order <strong>2 days advance</strong><br>Order date: </label>
					<input type="date" name="date" value="date" min="<%= today %>" max="" required>	<br/><hr>
					</p>

					<p>
					<input class="radio" type="radio" name="payment_type" value="pre-paid" required/> Half Pre-paid
					</p>
					<input class="btn btn-dark" type="submit" name="submit" value="Submit"/>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

	<script>      
   
      const windowShut = () => {

      	setTimeout(()=>{

      		MessengerExtensions.requestCloseBrowser(function success() {
          	console.log("success");          
        	}, function error(err) {
          		console.log(err);
        	});

    	},1500);   
        
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);     

  </script>	

</body>
</html>
