<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Order Foods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .background-color{
          background-color:white;
      }
    	.food{
    		width:200px;   
    		border:1px solid black; 		
    	}
    	.food img{
    		width:100%;
    		max-width: 200px;
    	}
    </style>
 </head>

  <body>
  <h1>Order</h1>
  <p><a href="../cart">View cart</a> | <a href="../emptycart">Empty cart</a></p>


  <% data.forEach(function(food){ %>

  	<div class="food">
	  	<img src="<%= food.image %>" />
	  	<h3><%= food.name %></h3>
	  	<p><%= food.description %><p>
	    <p>price: <%= food.price %></p>

	    <form action="../cart" method="post">
	    <input type="hidden" name="food_id" value="<%= food.id %>"/>
	    <input type="hidden" name="food_name" value="<%= food.name %>"/>
	    <input type="hidden" name="food_price" value="<%= food.price %>"/>
	    quantity: <input type="number" name="food_qty" min="1" value="1" style="width:50px;"/> 
	    <input type="submit" name="submit"/>
	    </form> 	
  	</div>
     
  <% }); %> 

 </body>

</html>