<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Order Foods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style.css" rel="stylesheet">

    <style>      
    	.food{
    		width:300px;   
    		border:1px white; 
        padding: 10px;
    	}
    	.food img{
    		width:100%;
    		max-width: 200px;
    	}
    </style>
 </head>

  <body style="background-color:white">
  <h1>Order</h1>
  <p><a href="../cart">View cart</a> | <a href="../emptycart">Empty cart</a></p>


  <% data.forEach(function(food){ %>

  	<div class="food">
	  	<img src="<%= food.image %>" />
	  	<h3><%= food.name %></h3>
	  	<p><%= food.description %><p>
	    <p>price: <%= food.price %></p>

	    <form action="../cart" method="post">
	    <input type="hidden" name="item_id" value="<%= food.id %>"/>
	    <input type="hidden" name="item_name" value="<%= food.name %>"/>
	    <input type="hidden" name="item_price" value="<%= food.price %>"/>
	    quantity: <input type="number" name="item_qty" min="1" value="1" style="width:50px;"/> <br>
	    <input type="submit" name="submit"/>
	    </form> 	
  	</div><br>
     
  <% }); %> 

 </body>

</html>