<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Update Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!--<link href="style.css" rel="stylesheet">-->
 </head>
<nav class="navbar navbar-expand-md navbar-light bg-dark">
      <h1 style="font-family: Times New Roman; font-size: 50px; color: white;">
          DTN Dessert Shop Admin Page
      </h1>
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link h4 text-muted" href="/admin/home"> Home</a>        
        </li>

        <li class="nav-item">
          <a class="nav-link h4 text-muted" href="/admin/members"> See Members</a>        
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle h4 text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item h4" href="/admin/orders"> See Orders</a>  
            <a class="dropdown-item h4" href="/admin/donate_orders"> See Orders for donation</a>           
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle h4 text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Food
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item h4" href="/admin/foods"> See Foods</a> 
            <a class="dropdown-item h4" href="/admin/addfood"> Add Foods</a>          
        </li>

        <li class="nav-item">
          <a class="nav-link h4 text-muted" href="/admin/logout"> Logout</a>        
        </li>


      </ul>
    
  </div>  
  </div>
</nav>

<body>
<div class="container bg-light">
  <div class="card mt-4"> 
    <div class="card-body">    
      <h1 class="my-4">Donation Order: <%=data.ref %></h1>

        <form id="form" method="post" action="../update_donate_order">
        <div>
          <label for="ref">Reference</label><br>
          <input class="form-control" type="text" name="ref" value="<%= data.ref %>">    
        </div>

        <div>
          <label for="name">Name</label><br>
          <input class="form-control" type="text" name="name" value="<%= data.name %>">    
        </div>

        <div>
          <label for="email">Email</label><br>
          <input class="form-control" type="email" name="email" value="<%= data.email %>">    
        </div>

        <div>
          <label for="phone">Phone</label><br>
          <input class="form-control" type="text" name="phone" value="<%= data.phone %>">    
        </div>

        <div>
          <label for="place">Donation Place</label><br>
          <input class="form-control" type="text" name="place" value="<%= data.place %>">    
        </div>

        <div>
          <label for="items">Items</label><br>
          <input class="form-control" type="text" name="items" value="<%= data.items %>">    
        </div>

        <div>
          <label for="total">Total</label><br>
          <input class="form-control" type="text" name="total" value="<%= data.total %>">    
        </div>

        <div>
          <label for="orderdate">Donation Date</label><br>
          <input class="form-control" type="date" name="orderdate" value="<%= data.orderdate %>">    
        </div>

        <div>
          <label for="payment_type">Payment Type</label><br>
          <input class="form-control" type="text" name="payment_type" value="<%= data.payment_type %>">    
        </div> 
        
        <div class="form-group">
          <label for="status">Status:</label>
        <select class="form-control" name="status" id="status">    
          <option value="pending" 
          <%if(data.status == "pending"){%>
              <%="selected"%>
          <%}%>
          >Pending</option>
          <option value="pre-paidAccepted"
          <%if(data.status == "pre-paidAccepted"){%>
              <%="selected"%>
          <%}%>
          >Pre-paid Accepted</option>    
          <option value="completed"
          <%if(data.status == "completed"){%>
              <%="selected"%>
          <%}%>
          >Completed</option> 
          <option value="donating"
          <%if(data.status == "donating"){%>
              <%="selected"%>
          <%}%>
          >Donating</option>
          <option class="text-danger" value="reject"
          <%if(data.status == "reject"){%>
              <%="selected"%>
          <%}%>
          >Reject</option>  
        </select>   
        </div>


        <div class="form-group">
          <label for="name">Comment</label><br>
          <textarea class="form-control" name="comment" rows="" cols=""></textarea>      
        </div>

        
        <input type="hidden"  name="doc_id" value="<%= data.doc_id %>">
        
        <input class="btn btn-dark" type="submit" value="Submit"> 
        </form>
      </div>
  </div>
</div>
</body>

</html>